<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>Registrition</title>
    <link rel="stylesheet" href="css/bootstrap.min.css">
    <link href="css/style.css" rel="stylesheet">
    <script src="js/bootstrap.bundle.js"></script>
    <script src="js/jquery-3.6.0.min.js"></script>
    <script src="js/jquery.validate.min.js"></script>
</head>

<body style="display: flex; justify-content: center;">
    <div class="icon-container">
        <div class="first-layer">
            <img src="pic/CuSell_icon.jpeg" alt="Icon" width="200" height="200">
        </div>
        <div class="second-layer">
        </div>
        <div class="third-layer">
        <img src="pic/CuSell_icon.png" alt="1">
        </div>
        
    </div>
</body>