<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Post</title>
    <link rel="stylesheet" href="/static/css/bootstrap.min.css">
    <link href="/static/css/style.css" rel="stylesheet">
    <script src="/static/js/bootstrap.bundle.min.js"></script>
    <script src="/static/js/jquery-3.6.0.min.js"></script>

    <script src="/static/js/jquery.dialog.js"></script>
    <link rel="stylesheet" href="/static/css/dialog.css">
</head>

<body>
    <header>
        <nav class="navbar-dark fixed-top bg-dark" style="border-radius: 0 0 10px 10px;">
            <div class="navigator">
                <div style="display: flex;">
                    <img src="/static/pic/CuSell_icon.jpeg" alt="Icon" height="30px" width="30px" style="margin-top: 4.5px; margin-left: 10px; margin-right: 3px; border-radius: 5px;">
                    <a class="navbar-brand" href="/templates/mainpage.html" style="padding-top: 2px; padding-bottom: 0;">
                        <b><span style="color: purple; font-size: x-large;">Cu</span><span style="color: orange; font-size: x-large;">Sell</span></b>
                    </a>
                    <ul class="nav"> 
                        <li><a href="/templates/mainpage.html" class="nav-link px-2 text-white top_item">Home</a></li>
                        <li><a id="profile" href="/templates/profile.html" class="nav-link px-2 text-white top_item">Profile</a></li>
                        <li><a href="#" class="nav-link px-2 text-white top_item" style="background-color: #6c757d; border-collapse: collapse; border-radius: 5px;">
                            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="currentColor" class="bi bi-plus-circle" viewBox="0 0 16 16">
                                <path d="M8 15A7 7 0 1 1 8 1a7 7 0 0 1 0 14zm0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16z"/>
                                <path d="M8 4a.5.5 0 0 1 .5.5v3h3a.5.5 0 0 1 0 1h-3v3a.5.5 0 0 1-1 0v-3h-3a.5.5 0 0 1 0-1h3v-3A.5.5 0 0 1 8 4z"/>
                            </svg>
                            Post</a></li>
                        <li><a href="#" class="nav-link px-2 text-white top_item">Chat</a></li>
                        <li><a target="_blank" href="https://github.com/1155141394/CuSell" class="nav-link px-2 text-white top_item">About Us</a></li>
                    </ul>
                </div>

                <div style="padding-right: 10px; display: flex; align-items: center;">
                    <p style="color: white; margin-bottom: 0; font-size: larger; margin-right: 10px;">Hello, {{user.name}}!</p>
                    <div id="user-head-nav" style="overflow: hidden;">
                        <img src="{{ MEDIA_URL }}{{ user.portrait }}" width="110%" height="110%" style="position: relative; left: -5%; top: -5%;">
                    </div>
                    <form id="signupForm" method="post" >
                        <span style="display: none;">{% csrf_token %}</span>
                        <button name="signout" type="submit" id="signout_button" class="btn btn-primary">Sign Out</button>
                    </form>
                    
                </div>

            </div>
        </nav>
    </header>

    <div style="width: 100%; height: 90%; position: fixed; z-index: -1; display: flex; justify-content: flex-end; align-items: flex-end;">
        <svg xmlns="http://www.w3.org/2000/svg" width="500" height="500" fill="currentColor" class="bi bi-bag-heart" viewBox="0 0 16 16" style="opacity: 0.4; color: orange">
            <path fill-rule="evenodd" d="M10.5 3.5a2.5 2.5 0 0 0-5 0V4h5v-.5Zm1 0V4H15v10a2 2 0 0 1-2 2H3a2 2 0 0 1-2-2V4h3.5v-.5a3.5 3.5 0 1 1 7 0ZM14 14V5H2v9a1 1 0 0 0 1 1h10a1 1 0 0 0 1-1ZM8 7.993c1.664-1.711 5.825 1.283 0 5.132-5.825-3.85-1.664-6.843 0-5.132Z"/>
        </svg>
    </div>
    <svg xmlns="http://www.w3.org/2000/svg" width="500" height="500" fill="currentColor" class="bi bi-cart-check-fill" viewBox="0 0 16 16" style="opacity: 0.3; position:fixed ; z-index: -1; left: 10px; top: 30px; color: purple">
        <path d="M.5 1a.5.5 0 0 0 0 1h1.11l.401 1.607 1.498 7.985A.5.5 0 0 0 4 12h1a2 2 0 1 0 0 4 2 2 0 0 0 0-4h7a2 2 0 1 0 0 4 2 2 0 0 0 0-4h1a.5.5 0 0 0 .491-.408l1.5-8A.5.5 0 0 0 14.5 3H2.89l-.405-1.621A.5.5 0 0 0 2 1H.5zM6 14a1 1 0 1 1-2 0 1 1 0 0 1 2 0zm7 0a1 1 0 1 1-2 0 1 1 0 0 1 2 0zm-1.646-7.646-3 3a.5.5 0 0 1-.708 0l-1.5-1.5a.5.5 0 1 1 .708-.708L8 8.293l2.646-2.647a.5.5 0 0 1 .708.708z"/>
    </svg>

    <div class="card-box" style="width: 1400px; height: auto; margin: 0 auto; margin-top: 30px; justify-content: space-between; padding: 20px;">
        <div class="icon-container" style="width: 350px; height: 350px; left: 70%; top: 3%;">
            <div class="zero-layer">
                <svg color="rgba(70, 70, 70, 0.2)" xmlns="http://www.w3.org/2000/svg" width= "300" height= "300"fill="currentColor" class="bi bi-bag-heart-fill" viewBox="0 0 16 16">
                    <path d="M11.5 4v-.5a3.5 3.5 0 1 0-7 0V4H1v10a2 2 0 0 0 2 2h10a2 2 0 0 0 2-2V4h-3.5ZM8 1a2.5 2.5 0 0 1 2.5 2.5V4h-5v-.5A2.5 2.5 0 0 1 8 1Zm0 6.993c1.664-1.711 5.825 1.283 0 5.132-5.825-3.85-1.664-6.843 0-5.132Z"/>
                </svg>
            </div>
            <div class="first-layer">
                <img src="/static/pic/CuSell_icon.jpeg" alt="Icon">
            </div>
            <div class="second-layer"></div>
            <div class="third-layer">
                <svg  color="rgba(70, 70, 70, 0.2)" xmlns="http://www.w3.org/2000/svg" width="300" height="300" fill="currentColor" class="bi bi-cart" viewBox="0 0 16 16">
                    <path d="M0 1.5A.5.5 0 0 1 .5 1H2a.5.5 0 0 1 .485.379L2.89 3H14.5a.5.5 0 0 1 .491.592l-1.5 8A.5.5 0 0 1 13 12H4a.5.5 0 0 1-.491-.408L2.01 3.607 1.61 2H.5a.5.5 0 0 1-.5-.5zM3.102 4l1.313 7h8.17l1.313-7H3.102zM5 12a2 2 0 1 0 0 4 2 2 0 0 0 0-4zm7 0a2 2 0 1 0 0 4 2 2 0 0 0 0-4zm-7 1a1 1 0 1 1 0 2 1 1 0 0 1 0-2zm7 0a1 1 0 1 1 0 2 1 1 0 0 1 0-2z"/>
                </svg>
            </div>
            <div class="forth-layer">
            <img src="/static/pic/CuSell_icon.png" alt="#">
            </div>
        </div>

        <form id="postForm" method="post" enctype="multipart/form-data" class="row g-3" style="width: 100%;">
            {% csrf_token %}
            <div class="col-md-4">
                <label class="form-label">Name: </label>
                <div class="input-group mb-2">
                    <span class="input-group-text">
                        <svg xmlns="http://www.w3.org/2000/svg" color="gray" width="24" height="24" fill="currentColor" class="bi bi-bag-heart" viewBox="0 0 16 16">
                            <path fill-rule="evenodd" d="M10.5 3.5a2.5 2.5 0 0 0-5 0V4h5v-.5Zm1 0V4H15v10a2 2 0 0 1-2 2H3a2 2 0 0 1-2-2V4h3.5v-.5a3.5 3.5 0 1 1 7 0ZM14 14V5H2v9a1 1 0 0 0 1 1h10a1 1 0 0 0 1-1ZM8 7.993c1.664-1.711 5.825 1.283 0 5.132-5.825-3.85-1.664-6.843 0-5.132Z"/>
                        </svg>
                    </span>
                    <input id="postName" type="text" class="form-control" placeholder="Item Name Here" name="postName" style="background-color: rgba(255, 255, 255, 0.1); backdrop-filter: blur(5px);">
                </div>
            </div>
            
            <div class="col-md-4">
                <label class="form-label">Price: </label>
                <div class="input-group mb-2">
                    <span class="input-group-text">
                        <svg xmlns="http://www.w3.org/2000/svg" color="gray" width="24" height="24" fill="currentColor" class="bi bi-currency-dollar" viewBox="0 0 16 16">
                            <path d="M4 10.781c.148 1.667 1.513 2.85 3.591 3.003V15h1.043v-1.216c2.27-.179 3.678-1.438 3.678-3.3 0-1.59-.947-2.51-2.956-3.028l-.722-.187V3.467c1.122.11 1.879.714 2.07 1.616h1.47c-.166-1.6-1.54-2.748-3.54-2.875V1H7.591v1.233c-1.939.23-3.27 1.472-3.27 3.156 0 1.454.966 2.483 2.661 2.917l.61.162v4.031c-1.149-.17-1.94-.8-2.131-1.718H4zm3.391-3.836c-1.043-.263-1.6-.825-1.6-1.616 0-.944.704-1.641 1.8-1.828v3.495l-.2-.05zm1.591 1.872c1.287.323 1.852.859 1.852 1.769 0 1.097-.826 1.828-2.2 1.939V8.73l.348.086z"/>
                        </svg>
                    </span>
                    <input id="postName" type="text" class="form-control" placeholder="Item Price Here" name="postPrice" style="background-color: rgba(255, 255, 255, 0.1); backdrop-filter: blur(5px);">
                </div>
            </div>
            
            <div class="col-md-8">
                <label class="form-label">Keyword: </label>
                <div class="input-group mb-2">
                    <span class="input-group-text">
                        <svg xmlns="http://www.w3.org/2000/svg" color="gray" width="24" height="24" fill="currentColor" class="bi bi-exclamation-circle" viewBox="0 0 16 16">
                            <path d="M8 15A7 7 0 1 1 8 1a7 7 0 0 1 0 14zm0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16z"/>
                            <path d="M7.002 11a1 1 0 1 1 2 0 1 1 0 0 1-2 0zM7.1 4.995a.905.905 0 1 1 1.8 0l-.35 3.507a.552.552 0 0 1-1.1 0L7.1 4.995z"/>
                        </svg>
                    </span>
                    <input id="postKeyword" type="text" class="form-control" placeholder="Seperate by Comma" name="postKeyword" style="background-color: rgba(255, 255, 255, 0.1); backdrop-filter: blur(5px);">
                </div>
            </div>

            <div class="col-md-8">
                <label class="form-label">Short Discription: </label>
                <div class="input-group mb-2">
                    <textarea name="description" style="width: 100%; height: 150px; font-size: large; background-color: rgba(255, 255, 255, 0.1); backdrop-filter: blur(5px); border-radius: 15px; padding: 5px; border: rgba(128, 128, 128, 0.3) 1px solid;"></textarea>
                </div>
            </div>

            <div class="col-md-12">
                <label class="form-label">Pictures: </label>
                <div class="container">
                    <div class="bg" style="width: 230px; height: 350px;">
                        <div class="card">
                            <div class="content">
                                <a href="javascript:void(0)" id="pic1" onclick="upload('pic1');" style="position: relative; top: 0; left: 0; z-index: 100">
                                    <svg xmlns="http://www.w3.org/2000/svg" width="100" height="100" fill="currentColor" class="bi bi-plus-circle" viewBox="0 0 16 16">
                                        <path d="M8 15A7 7 0 1 1 8 1a7 7 0 0 1 0 14zm0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16z"/>
                                        <path d="M8 4a.5.5 0 0 1 .5.5v3h3a.5.5 0 0 1 0 1h-3v3a.5.5 0 0 1-1 0v-3h-3a.5.5 0 0 1 0-1h3v-3A.5.5 0 0 1 8 4z"/>
                                    </svg>
                                </a>

                                <img class="upload-imgs hide-item" id="pic1-img" src="#">

                                <input id="pic1-submit" type="file" name="pic-1" onchange="loadPic('pic1');" style="display: none;">
                            </div>
                        </div>
                    </div>
                    <div class="bg" style="width: 230px; height: 350px;">
                        <div class="card">
                            <div class="content">
                                <a href="javascript:void(0)" id="pic2" onclick="upload('pic2');" style="position: relative; top: 0; left: 0; z-index: 100">
                                    <svg xmlns="http://www.w3.org/2000/svg" width="100" height="100" fill="currentColor" class="bi bi-plus-circle" viewBox="0 0 16 16">
                                        <path d="M8 15A7 7 0 1 1 8 1a7 7 0 0 1 0 14zm0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16z"/>
                                        <path d="M8 4a.5.5 0 0 1 .5.5v3h3a.5.5 0 0 1 0 1h-3v3a.5.5 0 0 1-1 0v-3h-3a.5.5 0 0 1 0-1h3v-3A.5.5 0 0 1 8 4z"/>
                                    </svg>
                                </a>

                                <img class="upload-imgs hide-item" id="pic2-img" src="#">
                                
                                <input id="pic2-submit" type="file" name="pic-2" onchange="loadPic('pic2');" style="display: none;">
                            </div>
                        </div>
                    </div>
                    <div class="bg" style="width: 230px; height: 350px;">
                        <div class="card">
                            <div class="content">
                                <a href="javascript:void(0)" id="pic3" onclick="upload('pic3');" style="position: relative; top: 0; left: 0; z-index: 100">
                                    <svg xmlns="http://www.w3.org/2000/svg" width="100" height="100" fill="currentColor" class="bi bi-plus-circle" viewBox="0 0 16 16">
                                        <path d="M8 15A7 7 0 1 1 8 1a7 7 0 0 1 0 14zm0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16z"/>
                                        <path d="M8 4a.5.5 0 0 1 .5.5v3h3a.5.5 0 0 1 0 1h-3v3a.5.5 0 0 1-1 0v-3h-3a.5.5 0 0 1 0-1h3v-3A.5.5 0 0 1 8 4z"/>
                                    </svg>
                                </a>

                                <img class="upload-imgs hide-item" id="pic3-img" src="#">

                                <input id="pic3-submit" type="file" name="pic-3" onchange="loadPic('pic3');" style="display: none;">
                            </div>
                        </div>
                    </div>
                    <div class="bg" style="width: 230px; height: 350px;">
                        <div class="card">
                            <div class="content">
                                <a href="javascript:void(0)" id="pic4" onclick="upload('pic4');" style="position: relative; top: 0; left: 0; z-index: 100">
                                    <svg xmlns="http://www.w3.org/2000/svg" width="100" height="100" fill="currentColor" class="bi bi-plus-circle" viewBox="0 0 16 16">
                                        <path d="M8 15A7 7 0 1 1 8 1a7 7 0 0 1 0 14zm0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16z"/>
                                        <path d="M8 4a.5.5 0 0 1 .5.5v3h3a.5.5 0 0 1 0 1h-3v3a.5.5 0 0 1-1 0v-3h-3a.5.5 0 0 1 0-1h3v-3A.5.5 0 0 1 8 4z"/>
                                    </svg>
                                </a>

                                <img class="upload-imgs hide-item" id="pic4-img" src="#">
                               
                                <input id="pic4-submit" type="file" name="pic-4" onchange="loadPic('pic4');" style="display: none;">
                            </div>
                        </div>
                    </div>

                    <script>
                        function upload(Id){
                            $("#"+Id+"-submit").click()
                        }

                        function loadPic(Id) {
                            var file = document.querySelector("#" + Id + "-submit").files[0];
                            if(!/image\/\w+/.test(file.type)) {
                                alert("A Picture Is Needed!");
                                return false;
                            }
                            if(document.querySelector("#" + Id + "-submit").files.length){
                                let file = document.querySelector("#" + Id + "-submit").files[0];
                                let reader = new FileReader();
                                //新建 FileReader 对象
                                reader.onload = function(){
                                    // 当 FileReader 读取文件时候，读取的结果会放在 FileReader.result 属性中
                                    document.querySelector("#" + Id + "-img").src = this.result;
                                    $("#" + Id + "-img").removeClass("hide-item");
                                    $("#" + Id).addClass("transparent");
                                    $("#" + Id).mouseenter(function(){
                                        $("#" + Id).removeClass("transparent");
                                    }).mouseleave(function(){
                                        $("#" + Id).addClass("transparent");
                                    })
                                };
                                // 设置以什么方式读取文件，这里以base64方式
                                reader.readAsDataURL(file);
                            }
                        }
                    </script>
                </div>

            </div>
            <div class="col-md-4"></div>
            <button class="col-md-4 btn btn-primary">Create</button>
            <div class="col-md-4"></div>
        </form>
    </div>
    <div style="height: 50px;"></div>


</body>